# DEBUG FLAG.
ENVIRONMENT=
# LIVE DOMAIN.
LIVE_HOST=
# DJANGO SECRET KEY.
SECRET_KEY=
# CRYPTOGRAPHY SECRET KEY.
ENCRYPT_KEY=
# DATABASE SERVER.
DATABASE_URL=
# MEDIA SERVER.
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# MAILER.
MAIL_USERNAME=
MAIL_PASSWORD=
# OAUTH SERVICE.
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_TWITTER_CLIENT_ID=
OAUTH_TWITTER_CLIENT_SECRET=
OAUTH_FACEBOOK_CLIENT_ID=
OAUTH_FACEBOOK_CLIENT_SECRET=
